html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

div#box1 {
    border: 5px solid orange;  
    padding: 20px; 
}

div#box2 {
    border: 5px solid blue;   
    padding: 20px; 
}

#box1 {
    max-width: 640px;
}

#box2 {
    block-size: 20px;
    overflow:hidden;
} 

