* ::before ::after {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightblue;
}

h1, h2 {
    text-transform: uppercase;
    color: darkcyan;
}

figcaption:last-child {
    color: steelblue;
}

figcaption:first-child {
    margin-bottom: 0.5em;
}

ul li {
    list-style-type: none;
}

ul li:nth-child(odd) {
    color:  #f1f1f1;
}

ul li:nth-child(even) {
    color:  gray;
}
