   body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin: 0px auto;
     padding: 1rem;
     max-width: 1200px;
   }

   h1 {
     text-align: center;
     font-weight: normal;
     color: rgb(67, 173, 235);
   }

   img {
     max-width: 100%;
   }

   main {
     display: block grid;
     gap: 1em;
     grid-template-columns: 100%;
   }

   article {
     padding: 0.5rem;
     border: 2px solid lightskyblue;
   }